doc/
skynet_install/
build/
Build/
Build*/
Release/
Release*/
release/
release*/
Debug/
Debug*/
debug/
debug*/
run/
SkyNet_output*
*~
!Makefile
!*.cmake
!CMakeCache.txt
.cproject
.project
.pydevproject
.settings/
.cache/
.env
.vscode/
.DS_Store
